* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display_style {    
    display: flex;
    position: relative;
    
    top: 50px;

    zoom: 3;
}