* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;

    scrollbar-width: none;
}

#bird {
    position: absolute;
    display: flex;

    top: 30%;
    left: 45%;
    transform: translate(-45%);
}

/* #background {
    background-image: url("./img/flappybirdbg.png");

    scale: 2;
} */

#background {
    position: absolute;

    display: flex;
    flex-direction: column;
    /* align-items: center; Centraliza os filhos horizontalmente */

    width: 360px;
    left: 50%;

    margin-left: -180px; /* metade de 360px */

    overflow: hidden; /* Esconde o que sai fora */
}

#background_top {
    /* position: relative; */
    background-image: url("./img/flappybird_bg_top.png");
}

#background_bottom {
    position: relative;
    background-image: url("./img/flappybird_bg_bottom.png");
}